
*.xcuserstate
ARTest/ARTest.xcodeproj/xcuserdata/umar.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
*.xcbkptlist
ARTest2/ARTest2.xcodeproj/xcuserdata/umar.xcuserdatad/xcschemes/xcschememanagement.plist
ARTest2/ARTest2.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ARTest2/ARTest2.xcodeproj/project.xcworkspace/contents.xcworkspacedata
